<div class="form" [formGroup]="login">
  <div class="tab-group">
    <div id="signup">   
      <h1>Login </h1>
      <div>   
        <h1>Welcome Back!</h1>
        <form [formGroup]="login">
          <div class="field-wrap">
            <div class="text">Username:</div>
            <input type="text"  autocomplete="on"  formControlName="username" required />
          </div>
          
          <div class="field-wrap">
            <div class="text">Password:</div>
            <input type="password"  autocomplete="on" formControlName="password" required />
          </div>
          <div class="text">
            <p>Create an Account!! <a [routerLink]="['/sign']">signup</a></p>
          </div>
          <br>
          <button type="submit" class="button" (click)="logindata(login)">Login </button>
        </form>
      </div>
    </div><!-- tab-content -->
  </div> <!-- /form -->
</div>
